/* app.css */

/* General Styles */
body {
    /*margin: 0;*/
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 10rem;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.50rem;
}

header h1 a {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

header h1 a:hover {
    color: #3ea10d;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 4px;
    font-size: 100rem;
}

header nav a:hover {
    color: #3ea10d;
    background-color: rgba(255, 255, 255, 0.1);
}

header nav h1 {
    font-size: 100rem;
    margin: 0;
    padding: 0;
}

header nav h1 a {
    margin: 0;
    padding: 0;
}

#main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

#main-navigation nav {
    display: flex;
    gap: 1rem;
    margin-left: 100rem;
    font-size: 100rem;
}

#main-navigation h1 a {
    padding: 0;
    margin-right: 2rem;
    font-size: 100rem;
}

#main-navigation nav h1 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 100rem;
}

#main-navigation nav a {
    padding: 0.5rem 1rem;
    margin-top: 100rem;
    font-size: 100rem;
}

@media (max-width: 768px) {
    #main-navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav a {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}
