{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/work_experience.css" %}" />
{% endblock %}


{% block content %}
    <section id="beginning">
        <h1> Navigation Bar</h1>
        <ul>
            <li>{% include "blog/includes/navigation.html" %}</li>
        </ul>
    </section>
    <section id="work-experience">
        <div class="container">
            <h3>Working Experience</h3>
            <ul class="experience-list">
                <li>
                    <h4>Data Analyst</h4>
                    <p>Accenture, Sep 2023-Present</p>
                    <p>Responsibilities:</p>
                    <ul>
                        <li>Data Processing</li>
                        <li>Monitor reports in Power BI</li>
                        <li>Monitor and Updating KPIs</li>
                        <li>Preparing Monthly reports</li>
                    </ul>
                </li>
                <li>
                    <h4>Lecturer</h4>
                    <p>Aegean College, Apr 2024-Present</p>
                    <p>Responsibilities:</p>
                    <ul>
                        <li>Teaching Master and Bachelor level Courses.</li>
                        <li>Teaching Machine learning and AI topics</li>
                        <li>Teaching Big Data Analysis topics</li>
                    </ul>
                </li>
                <li>
                    <h4>PMO</h4>
                    <p>Advantage, Jun 2022- Sep 2023</p>
                    <p>Responsibilities:</p>
                    <ul>
                        <li>Create & Update an SQLite Database</li>
                        <li>Conducting data analysis and data preparation with Python.</li>
                        <li>Creating weekly and monthly reports in Power BI</li>
                    </ul>
                </li>
                <li>
                    <h4>Lecturer</h4>
                    <p>BCA College, Jan 2021 - Jun 2022</p>
                    <p>Responsibilities:</p>
                    <ul>
                        <li>Teaching Master Courses</li>
                        <li>Teaching Statistics and Probabilistic Theory.</li>
                        <li>Teaching how to manipulate Big Data and visualise them</li>
                    </ul>
                </li>
                <li>
                    <h4>Private Mathematics Tutor</h4>
                    <p>Freelance, Jul 2019 - Jan 2021</p>
                    <p>Responsibilities:</p>
                    <ul>
                        <li>Teaching Mathematical Courses</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
